<h1>This is your post</h1>

<center>
<div class="card" style="width: 25rem; height: 20rem ">
  <img src="" class="card-img-top" alt="...">
  <div class="card-body">
    <h1 class="card-title"><%= @post.title%></h1>
    
    <p class="card-text"></p>
    <p <%= @post.description%> /p>
    
    <% if @post.image.attached? %>
    <%= image_tag @post.image, height: 160 %>
    <% end %> 
  </div>
</div>
</center>
<%= button_to "Delete", @post, method:  :delete %> 

<%= button_to "Edit","/posts/#{@post.id}/edit",  method: :get %> 